<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ietok.project.dao.AttendanceDao">
    <insert id="AutoAddAttendanceAM">
        insert into HRM_ATTENDANCE (E_ID,ATD_START_INFO,ATD_SYSTEM_TIME) values (#{e_id},#{atd_start_info},sysdate)
    </insert>
    <insert id="AutoAddAttendanceMiss">
        insert into HRM_ATTENDANCE (E_ID,ATD_START_INFO,ATD_END_INFO,ATD_STATE,ATD_SYSTEM_TIME) values (#{e_id},#{atd_start_info},#{atd_end_info},#{atd_state},sysdate)
    </insert>
    <insert id="addAttendance">
        insert into HRM_ATTENDANCE(E_ID,ATD_START_TIME,ATD_SYSTEM_TIME) values (#{e_id},#{atd_start_time},sysdate)
    </insert>
    <update id="updateAttendanceAM">
        update HRM_ATTENDANCE set ATD_START_INFO = #{atd_start_info}
        where ATD_ID =#{atd_id}
    </update>
    <update id="updateAttendancePM">
        update HRM_ATTENDANCE set ATD_END_INFO = #{atd_end_info}
        where ATD_ID =#{atd_id}
    </update>
    <update id="updateAttendanceA">
        update HRM_ATTENDANCE set ATD_START_TIME = sysdate
        where ATD_ID =#{atd_id}
    </update>
    <update id="updateAttendanceP">
        update HRM_ATTENDANCE set ATD_END_TIME = sysdate
        where ATD_ID =#{atd_id}
    </update>
    <select id="getAttendanceByDateAndEmployee" resultType="com.ietok.project.entity.Attendance">
        select * from HRM_ATTENDANCE where E_ID = #{e_id}
        and to_number(to_char(atd_system_time,'DD')) = to_number(to_char(sysdate,'DD'))
        and to_number(to_char(atd_system_time,'MM')) = to_number(to_char(sysdate,'MM'))
        and to_number(to_char(atd_system_time,'YY')) = to_number(to_char(sysdate,'YY'))
    </select>
    <select id="getAttendanceByE_idAndDate" resultType="com.ietok.project.entity.Attendance">
        select ATD_ID,E_ID,ATD_START_TIME,ATD_END_TIME from HRM_ATTENDANCE where E_ID = #{e_id}
        and to_number(to_char(atd_system_time,'YY')) = to_number(to_char(sysdate,'YY'))
        and to_number(to_char(atd_system_time,'MM'))+1 = to_number(to_char(sysdate,'MM'))
    </select>
</mapper>
