<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ietok.project.dao.FifsDao">

    <insert id="addFifs">
        insert into HRM_FTFS (CV_ID, RCT_ID, F_DATE, F_IS_READ, F_IS_ACCEPT, F_IS_AGREE) values (#{cv_id},#{rct_id},sysdate,0,0,0)
    </insert>
    <update id="updateFifs">
        update HRM_FTFS set
                            CV_ID = #{cv_id},
                            RCT_ID = #{rct_id},
                            F_DATE = #{f_date},
                            F_IS_READ = #{f_is_read},
                            F_IS_ACCEPT = #{f_is_accept},
                            F_IS_AGREE = #{f_is_agree}
        where F_ID = #{f_id}
    </update>
    <delete id="delFifs">
        delete from HRM_FTFS where F_ID = #{f_id}
    </delete>
    <select id="getFifs" resultType="com.ietok.project.entity.Fifs">
        select * from HRM_FTFS where F_ID = #{f_id}
    </select>
    <select id="getFifssByCv_id" resultType="com.ietok.project.entity.Fifs">
        select * from HRM_FTFS where CV_ID = #{cv_id}
    </select>
    <select id="getFifssByRCT_id" resultType="com.ietok.project.entity.Fifs">
        select * from HRM_FTFS where RCT_ID =#{rct_id}
    </select>
</mapper>
