<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ietok.project.dao.PositionDao">
    <insert id="addPosition">
        insert into HRM_POSITION (DEP_ID, E_ID, POS_NAME) values (#{dep_id},#{e_id},#{pos_name})
    </insert>
    <update id="updatePosition">
        update HRM_POSITION set
                                DEP_ID =#{dep_id},
                                E_ID = #{e_id},
                                POS_NAME = #{pos_name}
        where POS_ID = #{pos_id}
    </update>
    <delete id="delPosition">
        delete from HRM_POSITION where POS_ID = #{pos_id}
    </delete>
    <delete id="delPositionByDep">
        delete from HRM_POSITION where DEP_ID =#{dep_id}
    </delete>
    <select id="getPositionByID" resultType="com.ietok.project.entity.Position"></select>
    <select id="getPositionByDep" resultType="com.ietok.project.entity.Position"></select>
</mapper>
