<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ietok.project.dao.RecruitDao">
    <select id="getPublishedRecruit" resultType="com.ietok.project.entity.Recruit">
        select * from HRM_RECRUIT where RCT_IS_PUBLISH = 1
    </select>
</mapper>
