<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ietok.project.dao.SalaryDao">

    <insert id="addSalary">
        insert into HRM_SALARY (E_ID, S_DATE, S_PERFORMANCE, S_EXTRA, S_REWARD, S_S_INSURANCE, S_TOTAL, S_IS_TROUBLE)
                        values (#{e_id},sysdate,#{s_performance},#{s_extra},#{s_reward},#{s_s_insurance},#{s_total},0)
    </insert>
    <update id="updateSalary">
        update HRM_SALARY set S_IS_TROUBLE = #{s_is_trouble} where S_ID = #{s_id}
    </update>
    <select id="getSalaryByTrouble" resultType="com.ietok.project.entity.Salary">
        select * from HRM_SALARY where S_IS_TROUBLE = 1
    </select>
    <select id="getSalary" resultType="com.ietok.project.entity.Salary">
        select * from HRM_SALARY where S_ID = #{s_id}
    </select>
    <select id="getSalarysByDateAndE_id" resultType="com.ietok.project.entity.Salary">
        select * from HRM_SALARY where E_ID = #{e_id} and S_DATE &lt; LAST_DAY(sysdate)+1 and S_DATE > ADD_MONTHS(LAST_DAY(sysdate)+1,-1)
    </select>
    <select id="getSalaryByTroubleAndE_id" resultType="com.ietok.project.entity.Salary">
        select * from HRM_SALARY where E_ID = #{e_id} and S_IS_TROUBLE = 1
    </select>
    <select id="getSalaryByE_idAndDate" resultType="com.ietok.project.entity.Salary">
        select * from HRM_SALARY where E_ID = #{e_id}
                                   and to_number(to_char(S_DATE,'MM')) = to_number(to_char(sysdate,'MM'))
                                    and to_number(to_char(S_DATE,'YY')) = to_number(to_char(sysdate,'YY'))
    </select>

</mapper>
